		<%
			# HOME INDEX
		%>

		<h1>Home</h1>
		<div class="line_full"></div>
	
		<p>Hello, you're in home</p>
		<p><%= link_to "My projects", projects_path %></p>
		<p><%= link_to "Categories", categories_path %></p>
		
		<div class="line_15"></div>
		
		<div id="boxes">
			<div class="col_5 col_first">
				<h3>sdas</h3>
				<div class="line_5"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>

			<div class="col_5">
				<h3>sdfs</h3>
				<div class="line_5"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdaòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>

			<div class="col_5 col_last">
				<h3>fhf</h3>
				<div class="line_5"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdaòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>

			<div class="clear"></div>
		</div> <!-- END #boxes -->
		
		<div id="boxes2">
			<div class="col_3 col_first">
				<h3>sdas</h3>
				<div class="line_3"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>

			<div class="col_3">
				<h3>sdfs</h3>
				<div class="line_3"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdaòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>

			<div class="col_3">
				<h3>fhf</h3>
				<div class="line_3"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdaòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>
			
			<div class="col_3">
				<h3>fhf</h3>
				<div class="line_3"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdaòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>
			
			<div class="col_3 col_last">
				<h3>fhf</h3>
				<div class="line_3"></div>
				<p>asdlas dasdlas adskòd asldkaòlsk daòsld aòslkd aòskd òaskd òalskd alsòkd aòlskd lasò askdòlak òldka sòld kaòsldk a akdaòls kdòlaskd òlaskd òlaskd lòaskd lòask dòlask lò</p>
			</div>

			<div class="clear"></div>
		</div> <!-- END #boxes2 -->
			
	</div> <!-- END #main-wrapper -->
	<div class="clear"></div>	
</div> <!-- END #main -->
