<div id="top" class="full">
	top
</div> <!-- END #top -->


<div id="header" class="container_15">
	
	<div id="logo" class="col_first col_5">
		logo
	</div>
	
	<div id="navigation" class="col_last col_10">
		afsdfsd navigation	
	</div>
	
	<div class="clear"></div>
	
</div> <!-- END #header -->

<div id="main">
	<h1>Home</h1>
	<p>Hello, you're in home</p>
	<p><%= link_to "My projects", projects_path %></p>
	<p><%= link_to "Categories", categories_path %></p>
</div>

<div id="footer" class="full">
	footer
</div>