		<%
			# HOME INDEX
		%>

		<h1>Home</h1>
		<div class="line_15"></div>
	
		<p>Hello, you're in home</p>
		<p><%= link_to "My projects", projects_path %></p>
		<p><%= link_to "Categories", categories_path %></p>
	
	</div> <!-- END #main-wrapper -->
	<div class="clear"></div>	
</div> <!-- END #main -->
