// Creates and initializes variables loading project's colors
$red:#930;
$orange:#960;
$darkGray:#333;
$mediumGray:#666;
$softGray:#ccc;
$lightGray:#f8fbef;
$white:#fff;
$hl:#dfeab9;
$lightGreen:#f8fbef;
$green:#abba6d;
