// Creates and initializes variables loading project's font families

// MUSEO 700
@font-face {
	font-family:'Museo700';
	src: font-url('eot/museo700.eot');
	src: font-url('eot/museo700.eot#iefix')
		format('embedded-opentype'),font-url('woff/museo700.woff')
		format('woff'),font-url('ttf/museo700.ttf')
		format('truetype'),font-url('svg/museo700.svg#Museo700')
		format('svg');
}

// DEZEN PRO
@font-face {
	font-family:'Dezen';
	src: font-url('eot/dezen.eot');
	src: font-url('eot/dezen.eot#iefix')
		format('embedded-opentype'),font-url('woff/dezen.woff')
		format('woff'),font-url('ttf/dezen.ttf')
		format('truetype'),font-url('svg/dezen.svg#Dezen')
		format('svg');
}

// VARIABLES
$museo: Museo700, serif;
$dezen: Dezen, sans-serif;
