// Loads, creates and initialize project's font families
/*@font-face {
	font-family: 'Otari';
	src: url('../webfonts/eot/style_186228.eot');
	src: url('../webfonts/eot/style_186228.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/woff/style_186228.woff') format('woff'),
		url('../webfonts/ttf/style_186228.ttf') format('truetype'),
		url('../webfonts/svg/style_186228.svg#Otari') format('svg');
}


$serif: Otari, Georgia, "Times New Roman", sans-serif;
$sansSerif: "Lucida Sans Unicode","Lucida Grande",Arial,sans-serif;*/
