.col_1 {
	@include colStyle;
	@include colFixed;
}

.container_full .col_1 {
	width:$colWidth;
}

$i: 2;
@while $i < $numCols + 1 {
	
	.col_#{$i} {
		@include colStyle;
		@include colFixed;
	}
	
	.container_full .col_#{$i} {
		width: ($colWidth * $i) + ($margin * ($i - 1));
	}
	
	$i: $i + 1;
	
}