/* Push
----------------------------------------------------------------*/
$i: 1;
@while $i < $numCols {

	.container_#{$numCols} .push_#{$i} {
		left: $colWidthPercent * $i;
	}
	
	$i: $i + 1;
}

/* Pull
----------------------------------------------------------------*/
$i: 1;
@while $i < $numCols {
	
	.container_#{$numCols} .pull_#{$i} {
		left: -1 * ($colWidthPercent * $i);
	}
	
	$i: $i + 1;
}
