// Loads reset styles
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font: {
		size:100%;
	}
    vertical-align:baseline;
    background: {
		color:transparent;
	}
}

html, body {
	height:100%;
}

body {
    line-height:1;
}

a {
	img{
		border:none;
	}
}

img {
	color:transparent;
	font-size:0;
	vertical-align:middle;
	-ms-interpolation-mode:bicubic;
}

b, strong {
	font: {
		weight:bold;
	}
}

ul {
	li {
		display:list-item;
	}
}

table {
	border: {
		collapse:collapse;
		spacing:0;
	}
	th, td, caption {
		font: {
			weight:normal;
		}
		vertical-align:top;
		text: {
			align:left;
		}
	}
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list: {
		style:none;
	}
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background: {
		color:transparent;
	}
}

/* change colours to suit your needs */
ins {
    background-color:#eee;
    color:#333;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background: {
		color:#eee;
	}
    color:#333; 
    font: {
		style:italic;
    	weight:bold;
	}
}

del {
    text: {
		decoration:line-through;
	}	
}

abbr[title], dfn[title] {
    border-bottom: {
		width:1px;
		style:dotted;
	}
    cursor:help;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top: {
		width:1px;
		style:solid;
		color:#ccc;
	}
    margin: {
		top:1em;
		bottom:1em;
		right:0;
		left:0;
	}
    padding:0;
}

input, select {
    vertical-align:middle;
}
