@import "modules/variables";
@import "modules/mixins";
@import "modules/functions";

#top {
	background: {
		color:#000;
	}
	color: #fff;
}

.section {
	margin: {
		top:$margin;
		bottom:$margin;
	}
}