// MODULES
@import "modules/colors";
@import "modules/mixins";
@import "modules/font-families";


body {
	font: {
		size:12px;
		family:$defaultSansSerif;
	}
}

.fontface body {
	font: {
		family:$dezen;
	}
}

p {
	font: {
		size:13px;
	}
	line-height:21px;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family:$defaultSerif;
		weight:normal;
	}
}

.fontface h1,
.fontface h2,
.fontface h3,
.fontface h4,
.fontface h5,
.fontface h6 {
	font: {
		family:$museo;
	}
}

h1 {
	font: {
		size:21px;
	}
}

h2 {
	font: {
		size:18px;
	}
}

a {
	&:link, &:visited {@include noDecoration; color:$red;}
	&:focus, &:hover {text-decoration:underline;}
}
