<!DOCTYPE html>

<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

	<head id="www-sitename-com" data-template-set="html5-reset" profile="http://gmpg.org/xfn/11">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
		<title>Ilovewhite</title>
		
		<meta name="title" content="">
		<meta name="description" content="">
		<!-- Google will often use this as its description of your page/site. Make it good. -->
		<meta name="google-site-verification" content="">
		<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
		<meta name="author" content="Your Name Here">
		<meta name="Copyright" content="Copyright Your Name Here 2011. All Rights Reserved.">
		<!-- Dublin Core Metadata : http://dublincore.org/ -->
		<meta name="DC.title" content="Project Name">
		<meta name="DC.subject" content="What you're about.">
		<meta name="DC.creator" content="Who made this site.">
		
		<!--  Mobile Viewport Fix
		j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
		device-width : Occupy full width of the screen in its current orientation
		initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
		maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
		-->
		
		<!-- Uncomment to use; use thoughtfully!
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		-->
		
		<link rel="shortcut icon" href="images/favicon.ico">
		<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK
		 - see wikipedia for info on browser support: http://mky.be/favicon/ -->
		
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<!-- The is the icon for iOS's Web Clip.
		- size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		- To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		- Transparency is not recommended (iOS will put a black BG behind the icon) -->
		
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body class="container_full">
		
		<div id="top" class="full">
			<div id="top-wrapper" class="col_15">
				top
			</div>
			<div class="clear"></div>
		</div> <!-- END #top -->


		<div id="header" class="container_full">
			<div id="header-wrapper" class="col_15">
				<div id="logo" class="col_first col_5">
					logo
				</div>
			</div>
			<div class="clear"></div>
		</div> <!-- END #header -->

		<div id="main" class="container_full">
			<div id="main-wrapper" class="col_15">
				<%= yield %>
			
		<div id="footer" class="full">
			<div id="footer-wrapper" class="col_15">
				footer
			</div>
			<div class="clear"></div>
		</div> <!-- END #footer -->
		
	</body>
</html>
